<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL SHORTNER</h1>
<% if(locals.id){ %>
    <h1>YOUR GENERATED URL: http://localhost:8001/url/<%= id %></h1>
<%}%>

 <div>
    <form method="POST" action="/url"  >
    <label> Enter Your URL:</label>
    <input 
    type="text"
    placeholder="https://www.example.com"
    name="url"
    >
    <button type="submit">Generate</button>
    </form>
   <div>
 <% if (locals.urls) { %>


    <table>
        <thead>
        <th>S.no</th>
        <th>Redirect URL</th>
        <th>ShortUrl</th>
        <th>Total Clicks</th>
        </thead>
        <tbody>
            <% urls.forEach((element,index) => { %>
               <tr>
                <td><%= index+1 %> </td>
               <td><%= element.shortUrl %> </td>
               <td><%= element.redirectUrl %> </td>
               <td><%= element.visitHistory.length %>   </td>
               </tr>
               
            <% }) %>
            
        </tbody>
    
    
        </table>
<%}%>
   </div>




 </div>
</body>
</html>